* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  color: #A5FFD6;
}

.palette-generator {
  border-bottom: 1px solid #119DA4;
  margin: 5px 0 10px 0;
  padding-left: 10px;
}

body {
  background-color: #E54B4B;

}

button {
  border-radius: 15px;
  padding: 3px 7px;
  border-style: none;
  background-color: #119DA4;
}

button:hover {
  background-color: #A5FFD6;
  color: #119DA4;
}

h1 {
  text-align: center;
  margin: 5px auto auto auto;
}

input {
  border-radius: 15px;
  border-style: none;
  padding: 3px 2px;
  text-align: center;
}

input::placeholder {
  color: #119DA4;
}

select {
  color: #A5FFD6;
  border-style: none;
  background-color: #119DA4;
  font-size: 12px;
}

.palette-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px 0;
}

.palette-color {
  width: 30%;
  height: 400px;
  position: relative;
  box-shadow: inset -12px 0 25px 0 #32353A;
  border-radius: 10px 0 0 10px;
  margin-left: -10px;
}

.palette-border-box {
  border-style: solid;
}

#color-5 {
  box-shadow: inset 0 0 0 0 #000000;
}

.palette-color-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(50,53,58,.5);
  height: 60px;
  padding: 3px;
  border-radius: 0 0 0 10px;
}

.palette-color-info-text {
  color: #E4E5E8;
  position: relative;
  bottom: -5px;
}

#generate-palette-button {
  margin: 5px auto 9px auto;
  display: block;
  width: 150px;
  height: 35px;
  font-size: 13px;
  border-radius: 20px;
}

.new-palette-form, .new-project-form {
  text-align: center;
}

.new-project-form {
  margin-bottom: 5px;
}

.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  list-style: none;
}

.project {
  margin: 5px;
  border: 2px solid #119DA4;
  border-radius: 15px;
  padding: 5px;
  width: 48%;
  background-color: #E4E5E8;
}

.project:hover {
  background-color: #A5FFD6;
}

.project-name, .palette-name, .no-palette {
  color: #119DA4;
}

.no-palette {
  font-size: 12px;
}

.palettes-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.palette-colors-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100%;
}

.palette {
  height: 100%;
  position: relative;
  padding: 2px 7px;
}

.palette:hover {
  border: 1px solid #119DA4;
  border-radius: 15px;
}

.palette-name {
  display: inline-block;
}

.palette-colors {
  width: 20%;
  min-height: 18px;
  min-width: 18px;
  margin: 2px;
  border-radius: 5px;
}

.image-container {
  height: 25px;
  width: 25px;
  margin: auto;
}

.lock-button {
  height: 20px;
  width: 20px;
  margin-top: 2px;
}

.lock-button-locked {
  height: 25px;
  width: 25px;
}

#projects-title {
  text-align: center;
  margin-bottom: 5px;
}

.delete-palette-button {
  text-align: center;
  border-radius: 50%;
  border: 2px solid;
  border-color: #E3170A;
  height: 15px;
  width: 15px;
  line-height: 12px;
  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
  display: inline-block;
  color: #E3170A;
  position: absolute;
  top: 6px;
  right: 3px;
  margin-left: 5px;
}
